@import '../../assets/styles/abstracts/index.scss';

.c-poster {
  position: relative;

  &::before {
    display: block;
    width: 100%;
    padding-top: percentage(3 / 2);
    content: '';
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to top,
      rgba($color-secondary, 0.7) 15%,
      rgba($color-white, 0) 100%
    );
    content: '';
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
