@import '../../assets/styles/abstracts/index';

.c-poster {
  $content-placeholder-color-base: $color-secondary;
  $content-placeholder-color-highlight: lighten($content-placeholder-color-base, 7%);

  position: relative;
  background-color: $content-placeholder-color-base;

  &::before {
    display: block;
    width: 100%;
    padding-top: percentage(3 / 2);
    animation: progress 1s $g-transition-timing-function infinite;
    background-image: linear-gradient(
      90deg,
      $content-placeholder-color-base,
      $content-placeholder-color-highlight,
      $content-placeholder-color-base
    );
    content: '';
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to top,
      rgba($color-secondary, 0.7) 15%,
      rgba($color-white, 0) 100%
    );
    content: '';
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
