@import '../../assets/styles/abstracts/index';

.c-search {
  $height: px-to-rem(30px);

  display: flex;

  &__input {
    height: $height;
    padding: pad(3xsmall);
    border: 1px solid color-palette('gray', 400);
    background-color: transparent;
    color: $color-white;
    font-size: $g-font-size-xsmall;

    &::placeholder {
      color: color-palette('gray', 400);
    }
  }

  &__button {
    display: grid;
    height: $height;
    background-color: transparent;
    border-color: transparent;
    color: $color-white;
    place-items: center;
    transition: background-color $g-transition-duration $g-transition-timing-function;

    &:hover {
      background-color: color-palette('gray', 600);
    }
  }
}
